on post-fs

on post-fs-data

on early-init

on init

on boot
    chmod 0666 /dev/block/mmcblk2p13
    chmod 0666 /dev/block/mmcblk1p13
    write /sys/power/wake_lock "main"

# backlight
    chown system system /sys/class/backlight/panel_backlight-0/brightness
    chown system system /sys/class/backlight/panel_backlight-1/brightness

# For 40 pin gpio
    chmod 0666 /sys/class/gpio/export
    chmod 0666 /sys/class/gpio/unexport

# For 40 pin PWM
    chmod 0666 /sys/class/pwm/pwmchip0/export
    chmod 0666 /sys/class/pwm/pwmchip0/unexport
    chmod 0666 /sys/class/pwm/pwmchip1/export
    chmod 0666 /sys/class/pwm/pwmchip1/unexport
    chmod 0666 /sys/class/pwm/pwmchip3/export
    chmod 0666 /sys/class/pwm/pwmchip3/unexport
