on post-fs

on post-fs-data

on early-init

on init
    # led
    start vendor.led
on boot
    chmod 0666 /dev/block/mmcblk2p13
    chmod 0666 /dev/block/mmcblk1p13
    write /sys/power/wake_lock "main"
    setprop vendor.asus_debugger_running 0

# backlight
    chown system system /sys/class/backlight/panel_backlight-0/brightness
    chown system system /sys/class/backlight/panel_backlight-1/brightness

# For 40 pin gpio
    chmod 0666 /sys/class/gpio/export
    chmod 0666 /sys/class/gpio/unexport

# For 40 pin PWM
    chmod 0666 /sys/class/pwm/pwmchip0/export
    chmod 0666 /sys/class/pwm/pwmchip0/unexport
    chmod 0666 /sys/class/pwm/pwmchip1/export
    chmod 0666 /sys/class/pwm/pwmchip1/unexport
    chmod 0666 /sys/class/pwm/pwmchip3/export
    chmod 0666 /sys/class/pwm/pwmchip3/unexport

service vendor.led /vendor/bin/led.sh
    class main
    user root
    group root
    disabled
    oneshot

# asus-debugger-d
service asus-dbug-d /vendor/bin/asus-debugger-d
    user root
    group root log
    group root system
    disabled

on property:sys.asus_debugger_running=1
       start asus-dbug-d

on property:persist.sys.run_debugger=1
       start asus-dbug-d
       setprop vendor.run_debugger 1

on property:persist.sys.run_debugger=0
       setprop vendor.run_debugger 0

on property:sys.asus_debugger_running=3
       stop asus-dbug-d
       setprop vendor.asus_debugger_running 3

on property:sys.asus_debugger_running=1
       restorecon /dev/socket/asus-debugger

on property:sys.asus_debugger_running=2
       restorecon /dev/socket/asus-debugger

on property:vendor.asus_debugger_running=2
       setprop sys.asus_debugger_running 2
